<h1>What's your recipe today?</h1>
<form class="pure-form" id="form">
  <fieldset>
    <input type="text" id="recipe" placeholder="Enter recipe name" autofocus required>
    <button class="pure-button pure-button-primary" id="go">Go</button>
  </fieldset>
</form>

<div class="container">
  <a class="link" href="http://food2fork.com/view/fbc7af" target="_blank">
    <div class="cover-wrap" style="background-image: url('http://static.food2fork.com/388604527_5e6812454fc6f7.jpg')"></div>
    <p class="title">Red Velvet Cheesecake Cookies</p>
  </a>
  <a class="link" href="http://food2fork.com/view/fbc7af" target="_blank">
    <div class="cover-wrap" style="background-image: url('http://static.food2fork.com/redvelvetcheesecakecookiesace1.jpg')"></div>
    <p class="title">Red Velvet Cheesecake Cookies</p>
  </a>
  <a class="link" href="http://food2fork.com/view/fbc7af" target="_blank">
    <div class="cover-wrap" style="background-image: url('http://static.food2fork.com/chocolatesheetcakewithpeanutbutterfrosting3a2ac.jpg')"></div>
    <p class="title">Red Velvet Cheesecake Cookies</p>
  </a>
</div>
