<h1>{{#if count}}Enjoy your recipes!{{else if error}}Max query hit, please come tomorrow :){{else}}What's your recipe
  today?{{/if}}</h1>
<form class="pure-form" id="form">
  <fieldset>
    <input type="text" id="recipe" placeholder="Enter recipe name" autofocus required>
    <button class="pure-button pure-button-primary" id="go">Go</button>
  </fieldset>
</form>

<div class="container">
  {{> recipe}}
</div>
