<h1>What's your recipe today?</h1>
<form class="pure-form" id="form">
  <fieldset>
    <input type="text" id="recipe" placeholder="Enter recipe name" autofocus required>
    <button class="pure-button pure-button-primary" id="go">Go</button>
  </fieldset>
</form>

<div class="container">
    {{> recipe}}
</div>
